@page
@model CategoriaModel
@{
    ViewData["Title"] = "Home page";
    string categoria = Model.Categoria!;
    int index = 0;
}

<div class="mx-5">
    <!-------------------------- titolo della pagina ---------------------------->
    <div class="text-center">
        <h1 class="display-4">@categoria</h1>
    </div>

    <!----------------------- carosello di immagini --------------------->
    @if (Model.Immagini.Count() == 0) //se la categoria è vuota
    {

    }
    else
    {

        <div id="carosello" class="carousel carousel-dark slide pt-3">
            <div class="carousel-indicators">
                @for (int i = 0; i < Model.Immagini.Count(); i++)
                {
                    if (i == 0)
                    {
                        <button type="button" data-bs-target="#carosello" data-bs-slide-to="@i" class="active" aria-current="true"
                            aria-label="Slide 1"></button>
                    }
                    else
                    {
                        <button type="button" data-bs-target="#carosello" data-bs-slide-to="@i" aria-label="Slide 2"></button>
                    }
                }
            </div>
            <div class="carousel-inner">

                @foreach (var img in Model.Immagini)
                {
                    if (index == 0)
                    {
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="@img.Path" class="d-block" alt="@img.Titolo">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="@img.Path" class="d-block" alt="@img.Titolo">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                            </div>
                        </div>
                    }
                    index++;
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carosello" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carosello" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    }
    <!---------------------- row delle immagini ------------------------>
    @* <div class="row pt-5">
    @for (int i = 0; i < Model.Immagini.Count(); i++)
    {
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 p-0 m-0 align-items-center border border-2">
    <div class="d-flex flex-wrap flex-row-reverse">
    <div class="image-container">
    <a asp-page="/Immagine" asp-route-id="@Model.Immagini.ElementAt(i).Id">
    <img src="@Model.Immagini.ElementAt(i).Path" class="img-fluid" /></a>
    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
    </div>
    <div class="position-absolute pt-2 pe-1">
    <span class="bi bi-star-fill"></span>
    <span class="index-voto px-1 rounded-1">@Model.Immagini.ElementAt(i).Voto</span>
    </div>
    </div>
    </div>
    }
    </div> *@

    @* <!---------------------------- tasti paginazione -------------------------->
    <nav class="mt-4" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
    <li class="page-item">
    <a class="page-link" aria-label="Previous" asp-page="/Categoria" asp-route-pagecategoria="1"
    asp-route-categoria="@categoria">
    <span aria-hidden="true">&laquo;</span>
    </a>
    </li>
    @for (int i = 1; i <= Model.NumeroPagine; i++)
    {
    if (i == Model.PageCategoria)
    {
    <li class="page-item active"><a class="page-link" asp-page="/Categoria" asp-route-pagecategoria="@i"
    asp-route-categoria="@categoria">@i</a></li>
    }
    else
    {
    <li class="page-item"><a class="page-link" asp-page="/Categoria" asp-route-pagecategoria="@i"
    asp-route-categoria="@categoria">@i</a></li>
    }

    }
    <li class="page-item">
    <a class="page-link" aria-label="Next" asp-page="/Categoria"
    asp-route-pagecategoria="@Model.NumeroPagine" asp-route-categoria="@categoria">
    <span aria-hidden="true">&raquo;</span>
    </a>
    </li>
    </ul>
    </nav> *@

</div>
