@page
@model CategoriaModel
@{
    ViewData["Title"] = "Home page";
    string categoria = Model.Categoria!;
}
<div class="mx-5">
    <div class="text-center">
        <h1 class="display-4">@categoria</h1>
    </div>


    <!---------------------- row delle immagini ------------------------>
    <div class="row pt-5">
        @for (int i = 0; i < Model.Immagini.Count(); i++)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 p-0 m-0 align-items-center border border-2">
                <div class="d-flex flex-wrap flex-row-reverse">
                    <div class="image-container">
                        <a asp-page="/Immagine" asp-route-id="@Model.Immagini.ElementAt(i).Id">
                            <img src="@Model.Immagini.ElementAt(i).Path" class="img-fluid" /></a>
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </div>
                    <div class="position-absolute pt-2 pe-1">
                        <span class="bi bi-star-fill"></span>
                        <span class="index-voto px-1 rounded-1">@Model.Immagini.ElementAt(i).Voto</span>
                    </div>
                </div>
            </div>
        }
    </div>

    <!---------------------------- tasti paginazione -------------------------->
    <nav class="mt-4" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" aria-label="Previous" asp-page="/Categoria" asp-route-pagecategoria="1"
                    asp-route-categoria="@categoria">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= Model.NumeroPagine; i++)
            {
                if (i == Model.PageCategoria)
                {
                    <li class="page-item active"><a class="page-link" asp-page="/Categoria" asp-route-pagecategoria="@i"
                            asp-route-categoria="@categoria">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-page="/Categoria" asp-route-pagecategoria="@i"
                            asp-route-categoria="@categoria">@i</a></li>
                }

            }
            <li class="page-item">
                <a class="page-link" aria-label="Next" asp-page="/Categoria"
                    asp-route-pagecategoria="@Model.NumeroPagine" asp-route-categoria="@categoria">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
