@page
@model ModeraCommentiModel
@{
    ViewData["Title"] = "Moderatore";
}

<div class="container">
    <!-------------------------- titolo della pagina ---------------------------->
    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>

    <!---------------------- tabella di modifica ---------------->
    <form method="get">
        <table class="table text-center table-striped align-middle mt-5">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Commento</th>
                    <th>Data inserimento</th>
                    <th>
                        <div class="dropdown text-center">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-tools" viewBox="0 0 16 16">
                                    <path
                                        d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3q0-.405-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708M3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z" />
                                </svg>
                            </button>

                            <!---------------------- bottone approva -------------------------->
                            <ul class="dropdown-menu p-0 ps-1 pb-1 pt-1" style="min-width: 8rem;">
                                <li><a class="dropdown-item" asp-page="/AggiungiImmagine" style="color: green;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                            <path
                                                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                        </svg> Approva</a>
                                </li>

                                <!---------------------- bottone censura -------------------------->
                                <li><a class="dropdown-item" asp-page="/AggiungiImmagine" style="color: red;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                            <path
                                                d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
                                            <path
                                                d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
                                            <path
                                                d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
                                        </svg> Censura</a>
                                </li>
                            </ul>
                        </div>
                    </th>
                </tr>
            <tbody>
                    @foreach (var voto in Model.Voti)
                    {

                        //memorizzo id diversi per ogni modale
                        string idModale = "modal" + voto.Id.ToString();
                    <tr>
                        <td>@voto.Id</td>
                        <td>@voto.Nome</td>
                        <td>
                            <!-- Button trigger modal -->
                            <a type="button" data-bs-toggle="modal" data-bs-target="#@idModale">
                                    @voto.Commento
                            </a>
                            <!-- inserimento della modale per visualizzare la foto -->
                            <div class="modal" id="@idModale" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header justify-content-center">
                                            <h5 class="modal-title">@voto.Nome</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <span>@voto.Commento</span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </td>
                        <td>@voto.Data.ToString("d")</td>
                        <td>
                            <!-- sezione checkbox -->
                                @if (voto.Visibile == true)
                                {
                                <input type="checkbox" name="Selezione" value="@voto.Id">
                                }
                                else
                                {
                                <input type="checkbox" checked disabled>
                                }

                        </td>
                    </tr>
                    }
            </tbody>
            </thead>
        </table>
    </form>


    <!---------------------------- tasti paginazione -------------------------->
    <nav class="mt-4" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" aria-label="Previous" asp-page="/ModeraCommenti" asp-route-pagemodera="1">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= Model.NumeroPagine; i++)
            {
                if (i == Model.PageModera)
                {
                    <li class="page-item active"><a class="page-link" asp-page="/ModeraCommenti"
                            asp-route-pagemodera="@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-page="/ModeraCommenti" asp-route-pagemodera="@i">@i</a></li>
                }

            }
            <li class="page-item">
                <a class="page-link" aria-label="Next" asp-page="/ModeraCommenti"
                    asp-route-pagemodera="@Model.NumeroPagine">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>