@model AggiungiImmaginiViewModel
@{
    ViewData["Title"] = "Aggiungi Immagine";
    ViewData["Colore"] = Model.Colore;
}

<div class="container">
    <!-------------------------- titolo della pagina ---------------------------->
    <div class="text-center">
        <h1 class="display-5">@ViewData["TItle"]</h1>
    </div>

    <!--------------------------- messaggio di conferma per l'utente ----------->
    <div class="text-center mt-5 pb-0">
        <h4 class="@ViewData["Colore"]">@Model.Messaggio</h4>
    </div>

    <!-------------------------- form aggiungi immagine ------------------------>
    <div class=" d-flex justify-content-center mt-5">
        <form method="post">
            <!-- Titolo -->
            <div class="form-group">
                <label asp-for="Titolo"></label>
                <input asp-for="Titolo " type="text" class="form-control" />
            </div>

            <!-- Autore -->
            <div class="form-group">
                <label asp-for="Autore"></label>
                <input asp-for="Autore " type="text" class="form-control" />
            </div>

            <!-- Select Categoria -->
            <label asp-for="Categoria"></label>
            <select asp-for="Categoria" asp-items="Model.Categorie"
                class="form-control @(ViewData.ModelState["Categoria"]?.Errors.Any() ?? false ? "box-danger" : "")">
                <option value="">Scegli categoria</option>
            </select>
            <span asp-validation-for="Categoria" class="text-danger"></span>

            <!-- Path -->
            <div class="form-group">
                <label asp-for="Path"></label>
                <input asp-for="Path" type="text" autocomplete="path"
                    class="form-control @(ViewData.ModelState["Path"]?.Errors.Any() ?? false ? "box-danger" : "")" />
            </div>
            <div class="mb-1">
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>

            <br>

            <!-- Submit Aggiungi -->
            <button type="submit" class="btn btn-primary">
                Aggiungi
            </button>
            <a asp-controller="User" asp-action="Immagini" class="btn btn-primary" type="button">
                Torna alle immagini
            </a>
        </form>
    </div>
</div>