@model ImmaginiViewModel
@{
    ViewData["Title"] = "Home page";
}

<div class="mx-5">
    <!-------------------------- titolo della pagina ---------------------------->
    <div class="text-center">

        @if (string.IsNullOrEmpty(Model.Categoria))
        {
            @if (User.IsInRole("User"))
            {
                var user = User.Identity?.Name!.Split("@");

                <h1 class="display-4">Ciao @user![0]</h1>
            }
            else
            {
                <h1 class="display-4">Benvenuti</h1>
            }

        }
        else
        {
            <h1 class="display-4">@Model.Categoria</h1>
        }
    </div>

    <div class="row mb-md-2">
        <!----------------------------- controlli per gli utenti registrati -------------->

        <!--------------------------- tato play carosello ---------------------------->
        <div class="col-6 col-md-11 text-center text-md-end">
            <a class="btn" asp-controller="User" asp-action="Carosello" asp-route-categoria="@Model.Categoria"
                style="color: blue; width: fit-content;"><i class="bi bi-collection-play-fill"></i> Play </a>
        </div>

        <!-------------------------- dropdown filtro categorie ------------------------>
        <div class="col-6 col-md-1 dropdown text-center text-md-end">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-archive-fill"></i>
            </button>
            <ul class="dropdown-menu" style=" min-width: 8rem;">
                <li><a class="dropdown-item" asp-controller="User" asp-action="Immagini"
                        asp-route-categoria="">Tutte</a></li>
                @foreach (var c in Model.Categorie!)
                {
                    <li><a class="dropdown-item" asp-controller="User" asp-action="Immagini" asp-route-categoria="@c">@c</a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <!---------------------- row delle immagini ------------------------>
    <div class="d-flex justify-content-center flex-wrap">
        @for (int i = 0; i < Model.Immagini!.Count(); i++)
        {
            var immagine = Model.Immagini!.ElementAt(i); //memorizzo l'imamgine i-esima

            <div class="col-lg-3 col-md-4 col-sm-6 col-12 p-0 m-0 align-items-center">
                <div class="card-index d-flex flex-wrap flex-row-reverse m-1 border-1">
                    <div class="image-container">
                        <a asp-controller="User" asp-action="Immagine" asp-route-id="@immagine.Id"
                            asp-route-urlback="@ViewBag.UrlBack">
                            <img src="@immagine.Path" class="img-fluid" />
                        </a>
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </div>

                    <!-- Stella e voto sopra l'immagine -->
                    <div class="position-absolute pt-3 pe-2">
                        <span class="bi bi-star-fill"></span>
                        <span class="index-voto">@immagine.Voto</span>
                    </div>
                </div>
            </div>
        }
    </div>

    <!---------------------------- tasti paginazione -------------------------->
    <nav class="mt-4" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" aria-label="Previous" asp-controller="User" asp-action="Immagini"
                    asp-route-pageindex="1" asp-route-categoria="@Model.Categoria">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= Model.NumeroPagine; i++)
            {
                if (i == Model.PageIndex) //indica la pagina attiva
                {
                    <li class="page-item active"><a class="page-link" asp-controller="User" asp-action="Immagini"
                            asp-route-pageindex="@i" asp-route-categoria="@Model.Categoria">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-controller="User" asp-action="Immagini"
                            asp-route-pageindex="@i" asp-route-categoria="@Model.Categoria">@i</a></li>
                }

            }
            <li class="page-item">
                <a class="page-link" aria-label="Next" asp-controller="User" asp-action="Immagini"
                    asp-route-pageindex="@Model.NumeroPagine" asp-route-categoria="@Model.Categoria">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>