@model CardUtenteViewModel
@{
    ViewData["Title"] = "Profilo Utente";
}

<div class="container">
    <!-------------------------- titolo della pagina ---------------------------->
    <div class="text-center">
        <h1 class="display-5">@ViewData["Title"]</h1>
    </div>
    <br>

    <!----------------- sezione card utente ---------------------------->
    <div class="row justify-content-center ">
        <div class="card" style="width: 16rem;">
            <!-------------- immagine dinamica in base al ruolo ------------->
            @if (Model.Utente!.Ruoli.Contains("Admin"))
            {
                <img src="~/img/admin.png" class="card-img-top" alt="admin.png">
            }
            else if (Model.Utente.Ruoli.Contains("Moderatore"))
            {
                <img src="~/img/moderatore.png" class="card-img-top" alt="moderatore.png">
            }
            else if (Model.Utente.Ruoli.Contains("User")) //l'utente è User
            {
                <img src="~/img/user.png" class="card-img-top" alt="user.png">
            }
            else if (Model.Utente.Ruoli.Contains("Master")) //utente master
            {
                <img src="~/img/master.png" class="card-img-top" alt="master.png">
            }
            else
            {
                <img src="~/img/bloccato.png" class="card-img-top" alt="bloccato.png">
            }

            <div class="card-body">
                <h5 class="card-title">@Model.Utente.Alias</h5>
                <p class="card-text">utente registrato dal @Model.Utente.DataRegistrazione.ToString("d")</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item "><b>Nome: </b> @Model.Utente.Nome</li>
                <li class="list-group-item "><b>Cognome:</b> @Model.Utente.Cognome</li>
                <li class="list-group-item "><b>Età:</b> @Model.Utente.Eta</li>
                <li class="list-group-item "><b>Ruoli:</b> @Model.Utente.Ruoli</li>
                <li class="list-group-item "><b>Status:</b>@(Model.Utente.Status == true ? " Attivo" : " Bloccato")</li>
            </ul>
            <div class="card-body text-center">
                <td>
                    @* ------------ richiamo i tasti di controllo ----------- *@
                    @if (Model.MenuRuoli == Model.Utente.Email)
                    {
                        <partial name="_CheckRuoliPartial" for="@Model.Utente" />
                    }
                    else
                    {
                        <partial name="_AzioniPartial" for="@Model.Utente" />
                        <a href="@Model.UrlBack" class="btn btn-sm btn-primary"><i class="bi bi-arrow-return-left"></i></a>
                    }
                </td>
            </div>
        </div>
    </div>
</div>
