@model GestioneUtentiViewModel
@{
    ViewData["Title"] = "Gestione utenti";
}
<div class="mx-5">
    <!-------------------------- titolo della pagina ---------------------------->
    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>

    <!------------------- tabella classifica ----------------------->
    <table class="table text-center table-striped align-middle mt-5">
        <thead>
            <tr>
                <th>Id
                    @if (Model.Reverse != "idOn")
                    {
                        <a class="voto" asp-controller="Admin" asp-action="GestioneUtenti" asp-route-reverse="idOn">
                            <i class="bi bi-caret-down"></i></a>
                    }
                    else
                    {
                        <a class="voto" asp-controller="Admin" asp-action="GestioneUtenti" asp-route-reverse="idOff">
                            <i class="bi bi-caret-up"></i></a>
                    }
                </th>

                <th>Alias
                    @if (Model.Reverse != "aliasOn")
                    {
                        <a class="voto" asp-controller="Admin" asp-action="GestioneUtenti" asp-route-reverse="aliasOn">
                            <i class="bi bi-caret-down"></i></a>
                    }
                    else
                    {
                        <a class="voto" asp-controller="Admin" asp-action="GestioneUtenti" asp-route-reverse="aliasOff">
                            <i class="bi bi-caret-up"></i></a>
                    }
                </th>

                <th>Ruolo
                    @if (Model.Reverse != "ruoloOn")
                    {
                        <a class="voto" asp-controller="Admin" asp-action="GestioneUtenti" asp-route-reverse="ruoloOn">
                            <i class="bi bi-caret-down"></i></a>
                    }
                    else
                    {
                        <a class="voto" asp-controller="Admin" asp-action="GestioneUtenti" asp-route-reverse="ruoloOff">
                            <i class="bi bi-caret-up"></i></a>
                    }
                </th>

                <th>Email
                    @if (Model.Reverse != "emailOn")
                    {
                        <a class="voto" asp-controller="Admin" asp-action="GestioneUtenti" asp-route-reverse="emailOn">
                            <i class="bi bi-caret-down"></i></a>
                    }
                    else
                    {
                        <a class="voto" asp-controller="Admin" asp-action="GestioneUtenti" asp-route-reverse="emailOff">
                            <i class="bi bi-caret-up"></i></a>
                    }
                </th>

                <th>Status
                    @if (Model.Reverse != "statusOn")
                    {
                        <a class="voto" asp-controller="Admin" asp-action="GestioneUtenti" asp-route-reverse="statusOn">
                            <i class="bi bi-caret-down"></i></a>
                    }
                    else
                    {
                        <a class="voto" asp-controller="Admin" asp-action="GestioneUtenti" asp-route-reverse="statusOff">
                            <i class="bi bi-caret-up"></i></a>
                    }
                </th>
                <th> Azione </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var u in Model.Utenti!)
            {
                <tr>
                    <td>@u.Id</td>

                    <td>
                        <a asp-controller="Admin" asp-action="DettagliUtente" asp-route-id="@u.Id">@u.Alias</a>
                    </td>

                    <td>@u.Ruoli</td>

                    <td>@u.Email</td>

                    <td>@u.Status</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Admin" asp-action="GestisciStatus"
                            asp-route-id="@u.Id">Attiva/Disattiva</a>
                        <a class="btn btn-info" asp-controller="Admin" asp-action="GestisciRuli"
                            asp-route-id="@u.Id">Gestisci Ruoli</a>
                        <a class="btn btn-danger" asp-controller="Admin" asp-action="EliminaUtente"
                            asp-route-id="@u.Id">Elimina</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>