@model LogViewModel
@{
    ViewData["Title"] = "Gestione log";

    //gestione checkbox ruoli
    if (Model.Filtro!.Ruoli != null)
    { //per i tag asp-route
        ViewBag.Ruoli = string.Join(",", Model.Filtro.Ruoli);
        //per la gestione degli elementi gia selezionati
        ViewData["checkedUser?"] = Model.Filtro.Ruoli.Contains("User") ? "checked" : "";
        ViewData["checkedAdmin?"] = Model.Filtro.Ruoli.Contains("Admin") ? "checked" : "";
        ViewData["checkedMod?"] = Model.Filtro.Ruoli.Contains("Moderatore") ? "checked" : "";
    }
}
<div class="container tabella-font-size">
    <!-------------------------- titolo della pagina ---------------------------->
    <div class="text-center">
        <h1 class="display-5">@ViewData["Title"]</h1>
    </div>

    <!----------------------- accordion di ricerca -------------------------->
    <div class="accordion m-0 p-0 mb-4 float-end w-75" id="accordionExample">
        <div class="accordion-item border-0">
            <div class="accordion-header float-end">
                <button class="accordion-button m-0 p-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="bi bi-search"></i>
                </button>
            </div>
            <div id="collapseOne" class="accordion-collapse collapse @ViewBag.Show" data-bs-parent="#accordionExample">
                <h5 class="text-center">Ricerca:</h5>

                <!------------------------ form di ricerca ---------------------->

                <form method="get">
                    <div class="row">
                        <!-- Id -->
                        <div class="col-3 form-group w-25">
                            <label asp-for="Filtro!.Id"></label>
                            <input type="number" asp-for="Filtro!.Id" class="form-control" />
                        </div>

                        <!-- Alias -->
                        <div class="col-3 form-group w-25">
                            <label asp-for="Filtro!.Alias"></label>
                            <input type="text" asp-for="Filtro!.Alias" class="form-control" />
                        </div>

                        <!-- Email -->
                        <div class="col-6 form-group w-50">
                            <label asp-for="Filtro!.Email"></label>
                            <input type="text" asp-for="Filtro!.Email" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row mt-1">
                        <!--Data min-->
                        <div class="col-6">
                            <label asp-for="Filtro!.DataInizio"></label>
                            <input type="datetime-local" asp-for="Filtro!.DataInizio" class="form-control" />
                        </div>
                        <!--Data max-->
                        <div class="col-6">
                            <label asp-for="Filtro!.DataFine"></label>
                            <input type="datetime-local" asp-for="Filtro!.DataFine" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row mt-3 text-center">
                        <!-- Tipologia -->
                        <div class="col-6 w-50 p-0">
                            <label for="tipologia">Scegli Tipologia:</label>
                            <select name="Filtro.Tipologia" id="tipologia">
                                @{
                                    if (Model.Filtro.Tipologia == null)
                                    {
                                        <option value="" selecteed>Tutte</option>
                                        <option value="true">UserExperience</option>
                                        <option value="false">Administrative</option>
                                    }
                                    else
                                    {
                                        <option value="">Tutte</option>
                                        if (Model.Filtro.Tipologia == true)
                                        {
                                            <option value="true" selected>UserExperience</option>
                                            <option value="false">Administrative</option>
                                        }
                                        else
                                        {
                                            <option value="true">UserExperience</option>
                                            <option value="false" selected>Administrative</option>
                                        }
                                    }
                                }
                            </select>
                        </div>

                        <!-- Operazione -->
                        <div class="col-6 w-50 p-0">
                            <label for="operazione">Scegli Operazione:</label>
                            <select name="Filtro.Operazione" id="operazione">
                                @{
                                    switch (Model.Filtro.Operazione)
                                    {
                                        case "Elimina immagini":
                                            <option value="">Tutte</option>
                                            <option value="Elimina immagini" selected>Elimina immagini</option>
                                            <option value="Elimina utente">Elimina utente</option>
                                            <option value="Login">Login</option>
                                            <option value="Logout">Logout</option>
                                            <option value="Modera commenti">Modera commenti</option>
                                            <option value="Registrazione">Registrazione</option>
                                            <option value="Ruoli modificati">Ruoli modificati</option>
                                            <option value="Status modificato">Status modificato</option>
                                            <option value="Voto immagine">Voto immagine</option>
                                            break;

                                        case "Elimina utente":
                                            <option value="">Tutte</option>
                                            <option value="Elimina immagini">Elimina immagini</option>
                                            <option value="Elimina utente" selected>Elimina utente</option>
                                            <option value="Login">Login</option>
                                            <option value="Logout">Logout</option>
                                            <option value="Modera commenti">Modera commenti</option>
                                            <option value="Registrazione">Registrazione</option>
                                            <option value="Ruoli modificati">Ruoli modificati</option>
                                            <option value="Status modificato">Status modificato</option>
                                            <option value="Voto immagine">Voto immagine</option>
                                            break;

                                        case "Login":
                                            <option value="">Tutte</option>
                                            <option value="Elimina immagini">Elimina immagini</option>
                                            <option value="Elimina utente">Elimina utente</option>
                                            <option value="Login" selected>Login</option>
                                            <option value="Logout">Logout</option>
                                            <option value="Modera commenti">Modera commenti</option>
                                            <option value="Registrazione">Registrazione</option>
                                            <option value="Ruoli modificati">Ruoli modificati</option>
                                            <option value="Status modificato">Status modificato</option>
                                            <option value="Voto immagine">Voto immagine</option>
                                            break;

                                        case "Logout":
                                            <option value="">Tutte</option>
                                            <option value="Elimina immagini">Elimina immagini</option>
                                            <option value="Elimina utente">Elimina utente</option>
                                            <option value="Login">Login</option>
                                            <option value="Logout" selected>Logout</option>
                                            <option value="Modera commenti">Modera commenti</option>
                                            <option value="Registrazione">Registrazione</option>
                                            <option value="Ruoli modificati">Ruoli modificati</option>
                                            <option value="Status modificato">Status modificato</option>
                                            <option value="Voto immagine">Voto immagine</option>
                                            break;

                                        case "Modera commenti":
                                            <option value="">Tutte</option>
                                            <option value="Elimina immagini">Elimina immagini</option>
                                            <option value="Elimina utente">Elimina utente</option>
                                            <option value="Login">Login</option>
                                            <option value="Logout">Logout</option>
                                            <option value="Modera commenti" selected>Modera commenti</option>
                                            <option value="Registrazione">Registrazione</option>
                                            <option value="Ruoli modificati">Ruoli modificati</option>
                                            <option value="Status modificato">Status modificato</option>
                                            <option value="Voto immagine">Voto immagine</option>
                                            break;

                                        case "Registrazione":
                                            <option value="">Tutte</option>
                                            <option value="Elimina immagini">Elimina immagini</option>
                                            <option value="Elimina utente">Elimina utente</option>
                                            <option value="Login">Login</option>
                                            <option value="Logout">Logout</option>
                                            <option value="Modera commenti">Modera commenti</option>
                                            <option value="Registrazione" selected>Registrazione</option>
                                            <option value="Ruoli modificati">Ruoli modificati</option>
                                            <option value="Status modificato">Status modificato</option>
                                            <option value="Voto immagine">Voto immagine</option>
                                            break;

                                        case "Ruoli modificati":
                                            <option value="">Tutte</option>
                                            <option value="Elimina immagini">Elimina immagini</option>
                                            <option value="Elimina utente">Elimina utente</option>
                                            <option value="Login">Login</option>
                                            <option value="Logout">Logout</option>
                                            <option value="Modera commenti">Modera commenti</option>
                                            <option value="Registrazione">Registrazione</option>
                                            <option value="Ruoli modificati" selected>Ruoli modificati</option>
                                            <option value="Status modificato">Status modificato</option>
                                            <option value="Voto immagine">Voto immagine</option>
                                            break;

                                        case "Status modificato":
                                            <option value="">Tutte</option>
                                            <option value="Elimina immagini">Elimina immagini</option>
                                            <option value="Elimina utente">Elimina utente</option>
                                            <option value="Login">Login</option>
                                            <option value="Logout">Logout</option>
                                            <option value="Modera commenti">Modera commenti</option>
                                            <option value="Registrazione">Registrazione</option>
                                            <option value="Ruoli modificati">Ruoli modificati</option>
                                            <option value="Status modificato" selected>Status modificato</option>
                                            <option value="Voto immagine">Voto immagine</option>
                                            break;

                                        case "Voto immagine":
                                            <option value="">Tutte</option>
                                            <option value="Elimina immagini">Elimina immagini</option>
                                            <option value="Elimina utente">Elimina utente</option>
                                            <option value="Login">Login</option>
                                            <option value="Logout">Logout</option>
                                            <option value="Modera commenti">Modera commenti</option>
                                            <option value="Registrazione">Registrazione</option>
                                            <option value="Ruoli modificati">Ruoli modificati</option>
                                            <option value="Status modificato">Status modificato</option>
                                            <option value="Voto immagine" selected>Voto immagine</option>
                                            break;

                                        default:
                                            <option value="" selected>Tutte</option>
                                            <option value="Elimina immagini">Elimina immagini</option>
                                            <option value="Elimina utente">Elimina utente</option>
                                            <option value="Login">Login</option>
                                            <option value="Logout">Logout</option>
                                            <option value="Modera commenti">Modera commenti</option>
                                            <option value="Registrazione">Registrazione</option>
                                            <option value="Ruoli modificati">Ruoli modificati</option>
                                            <option value="Status modificato">Status modificato</option>
                                            <option value="Voto immagine">Voto immagine</option>
                                            break;
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <!-- Ruoli -->
                    <div class="text-center mt-4">
                        <p class="p-0 m-0">Seleziona Ruoli:</p>
                        <label for="chkUser">User</label>
                        <input id="chkUser" type="checkbox" name="Filtro.Ruoli" value="User"
                        @(ViewData["checkedUser?"]) />

                        <label for="chkAdmin">Admin</label>
                        <input id="chkAdmin" type="checkbox" name="Filtro.Ruoli" value="Admin"
                        @(ViewData["checkedAdmin?"]) />

                        <label for="chkMod">Moderatore</label>
                        <input id="chkMod" type="checkbox" name="Filtro.Ruoli" value="Moderatore"
                        @(ViewData["checkedMod?"]) />
                    </div>

                    <button type="submit" class="btn btn-sm btn-primary float-end m-2">
                        Filtra
                    </button>
                </form>

            </div>
        </div>
    </div>

    <!---------------------- tabella di modifica ---------------->
    <table class="table text-center table-striped align-middle mt-3">
        <thead>
            <tr>
                <th>Id
                    @if (Model.Reverse != "idOn")
                    {
                        <a class="voto" asp-controller="Admin" asp-action="Log" asp-route-reverse="idOn"
                            asp-route-datainizio="@Model.Filtro!.DataInizio.ToString("yyyy-MM-dd")"
                            asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                            asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                            asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                            asp-route-operazione="@Model.Filtro.Operazione">
                            <i class="bi bi-caret-down"></i></a>
                    }
                    else
                    {
                        <a class="voto" asp-controller="Admin" asp-action="Log" asp-route-reverse="idOff"
                            asp-route-datainizio="@Model.Filtro!.DataInizio.ToString("yyyy-MM-dd")"
                            asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                            asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                            asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                            asp-route-operazione="@Model.Filtro.Operazione">
                            <i class="bi bi-caret-up"></i></a>
                    }
                </th>

                <th>Data
                    @if (Model.Reverse != "dataOn")
                    {
                        <a class="voto" asp-controller="Admin" asp-action="Log" asp-route-reverse="dataOn"
                            asp-route-datainizio="@Model.Filtro!.DataInizio.ToString("yyyy-MM-dd")"
                            asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                            asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                            asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                            asp-route-operazione="@Model.Filtro.Operazione">
                            <i class="bi bi-caret-down"></i></a>
                    }
                    else
                    {
                        <a class="voto" asp-controller="Admin" asp-action="Log" asp-route-reverse="dataOff"
                            asp-route-datainizio="@Model.Filtro!.DataInizio.ToString("yyyy-MM-dd")"
                            asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                            asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                            asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                            asp-route-operazione="@Model.Filtro.Operazione">
                            <i class="bi bi-caret-up"></i></a>
                    }
                </th>

                <th class="d-none d-lg-table-cell">Ora</th>

                <th class="d-none d-lg-table-cell">Alias
                    @if (Model.Reverse != "aliasOn")
                    {
                        <a class="voto" asp-controller="Admin" asp-action="Log" asp-route-reverse="aliasOn"
                            asp-route-datainizio="@Model.Filtro!.DataInizio.ToString("yyyy-MM-dd")"
                            asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                            asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                            asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                            asp-route-operazione="@Model.Filtro.Operazione">
                            <i class="bi bi-caret-down"></i></a>
                    }
                    else
                    {
                        <a class="voto" asp-controller="Admin" asp-action="Log" asp-route-reverse="aliasOff"
                            asp-route-datainizio="@Model.Filtro!.DataInizio.ToString("yyyy-MM-dd")"
                            asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                            asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                            asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                            asp-route-operazione="@Model.Filtro.Operazione">
                            <i class="bi bi-caret-up"></i></a>
                    }
                </th>

                <th>Email
                    @if (Model.Reverse != "emailOn")
                    {
                        <a class="voto" asp-controller="Admin" asp-action="Log" asp-route-reverse="emailOn"
                            asp-route-datainizio="@Model.Filtro!.DataInizio.ToString("yyyy-MM-dd")"
                            asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                            asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                            asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                            asp-route-operazione="@Model.Filtro.Operazione">
                            <i class="bi bi-caret-down"></i></a>
                    }
                    else
                    {
                        <a class="voto" asp-controller="Admin" asp-action="Log" asp-route-reverse="emailOff"
                            asp-route-datainizio="@Model.Filtro!.DataInizio.ToString("yyyy-MM-dd")"
                            asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                            asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                            asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                            asp-route-operazione="@Model.Filtro.Operazione">
                            <i class="bi bi-caret-up"></i></a>
                    }
                </th>

                <th>Ruolo
                    @if (Model.Reverse != "ruoloOn")
                    {
                        <a class="voto" asp-controller="Admin" asp-action="Log" asp-route-reverse="ruoloOn"
                            asp-route-datainizio="@Model.Filtro!.DataInizio.ToString("yyyy-MM-dd")"
                            asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                            asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                            asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                            asp-route-operazione="@Model.Filtro.Operazione">
                            <i class="bi bi-caret-down"></i></a>
                    }
                    else
                    {
                        <a class="voto" asp-controller="Admin" asp-action="Log" asp-route-reverse="ruoloOff"
                            asp-route-datainizio="@Model.Filtro!.DataInizio.ToString("yyyy-MM-dd")"
                            asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                            asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                            asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                            asp-route-operazione="@Model.Filtro.Operazione">
                            <i class="bi bi-caret-up"></i></a>
                    }
                </th>

                <th>Operazione
                    @if (Model.Reverse != "operazioneOn")
                    {
                        <a class="voto" asp-controller="Admin" asp-action="Log" asp-route-reverse="operazioneOn"
                            asp-route-datainizio="@Model.Filtro!.DataInizio.ToString("yyyy-MM-dd")"
                            asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                            asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                            asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                            asp-route-operazione="@Model.Filtro.Operazione">
                            <i class="bi bi-caret-down"></i></a>
                    }
                    else
                    {
                        <a class="voto" asp-controller="Admin" asp-action="Log" asp-route-reverse="operazioneOff"
                            asp-route-datainizio="@Model.Filtro!.DataInizio.ToString("yyyy-MM-dd")"
                            asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                            asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                            asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                            asp-route-operazione="@Model.Filtro.Operazione">
                            <i class="bi bi-caret-up"></i></a>
                    }
                </th>

                <th class="d-none d-lg-table-cell">Tipologia
                    @if (Model.Reverse != "tipologiaOn")
                    {
                        <a class="voto" asp-controller="Admin" asp-action="Log" asp-route-reverse="tipologiaOn"
                            asp-route-datainizio="@Model.Filtro!.DataInizio.ToString("yyyy-MM-dd")"
                            asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                            asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                            asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                            asp-route-operazione="@Model.Filtro.Operazione">
                            <i class="bi bi-caret-down"></i></a>
                    }
                    else
                    {
                        <a class="voto" asp-controller="Admin" asp-action="Log" asp-route-reverse="tipologiaOff"
                            asp-route-datainizio="@Model.Filtro!.DataInizio.ToString("yyyy-MM-dd")"
                            asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                            asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                            asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                            asp-route-operazione="@Model.Filtro.Operazione">
                            <i class="bi bi-caret-up"></i></a>
                    }
                </th>

                <!-- per schermi piccoli -->
                <th class="d-lg-none">T
                    @if (Model.Reverse != "tipologiaOn")
                    {
                        <a class="voto" asp-controller="Admin" asp-action="Log" asp-route-reverse="tipologiaOn"
                            asp-route-datainizio="@Model.Filtro!.DataInizio.ToString("yyyy-MM-dd")"
                            asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                            asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                            asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                            asp-route-operazione="@Model.Filtro.Operazione">
                            <i class="bi bi-caret-down"></i></a>
                    }
                    else
                    {
                        <a class="voto" asp-controller="Admin" asp-action="Log" asp-route-reverse="tipologiaOff"
                            asp-route-datainizio="@Model.Filtro!.DataInizio.ToString("yyyy-MM-dd")"
                            asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                            asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                            asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                            asp-route-operazione="@Model.Filtro.Operazione">
                            <i class="bi bi-caret-up"></i></a>
                    }
                </th>
                <!------------------------>
                <th>Azione</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model.Logs!)
            {
                <tr>
                    <td>@log.Id</td>

                    <td>@log.DataOperazione!.Value.ToString("d")</td>

                    <td class="d-none d-lg-table-cell">@log.DataOperazione!.Value.ToString("T")</td>

                    <td class="d-none d-lg-table-cell">@log.Alias</td>

                    <td>@log.Email</td>

                    <td>@log.Ruoli</td>

                    <td>@log.OperazioneSvolta</td>

                    <td class="d-none d-lg-table-cell">@(log.Tipologia ? "UserExperience" : "Administrative")</td>

                    <td class="d-lg-none">@(log.Tipologia ? "UE" : "A")</td>

                    <form method="post" asp-action="EliminaLog">
                        <td>
                            <input type="hidden" name="IdLog" value="@log.Id" />
                            <input type="hidden" name="PageIndex" value="@Model.PageIndex" />
                            <input type="hidden" name="Reverse" value="@Model.Reverse" />
                            <input type="hidden" asp-for="UrlBack" />

                            <button type="submit" class="btn btn-sm btn-danger" title="Elimina"><i class="bi bi-trash3"></i>
                            </button>
                        </td>
                    </form>

                </tr>
            }
        </tbody>
    </table>

    <!---------------------------- tasti paginazione -------------------------->
    <nav class="mt-5" aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" aria-label="Previous" asp-controller="Admin" asp-action="Log"
                    asp-route-pageindex="1" asp-route-reverse="@Model.Reverse"
                    asp-route-datainizio="@Model.Filtro!.DataInizio.ToString("yyyy-MM-dd")"
                    asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                    asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                    asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                    asp-route-operazione="@Model.Filtro.Operazione">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= Model.NumeroPagine; i++)
            {
                if (i == Model.PageIndex) //indica la pagina attiva
                {
                    <li class="page-item active"><a class="page-link" asp-controller="Admin" asp-action="Log"
                            asp-route-pageindex="@i" asp-route-reverse="@Model.Reverse"
                            asp-route-datainizio="@Model.Filtro.DataInizio.ToString("yyyy-MM-dd")"
                            asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                            asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                            asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                            asp-route-operazione="@Model.Filtro.Operazione">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-controller="Admin" asp-action="Log" asp-route-pageindex="@i"
                            asp-route-reverse="@Model.Reverse"
                            asp-route-datainizio="@Model.Filtro.DataInizio.ToString("yyyy-MM-dd")"
                            asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                            asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                            asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                            asp-route-operazione="@Model.Filtro.Operazione">@i</a>
                    </li>
                }

            }
            <li class="page-item">
                <a class="page-link" aria-label="Next" asp-controller="Admin" asp-action="Log"
                    asp-route-pageindex="@Model.NumeroPagine" asp-route-reverse="@Model.Reverse"
                    asp-route-datainizio="@Model.Filtro.DataInizio.ToString("yyyy-MM-dd")"
                    asp-route-datafine="@Model.Filtro.DataFine.ToString("yyyy-MM-dd")"
                    asp-route-alias="@Model.Filtro.Alias" asp-route-email="@Model.Filtro.Email"
                    asp-route-ruolijoin="@ViewBag.Ruoli" asp-route-tipologia="@Model.Filtro.Tipologia"
                    asp-route-operazione="@Model.Filtro.Operazione">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
